#body {
    /* padding: 100px; */
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.info{
    margin-bottom: 20px; 
    width: 80%;
}

.input-container {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;    
    width: 50%;
    justify-content: space-around;
}